<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Name tags</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div th:each="line, iterStat : ${lines}" th:if="${iterStat.index % 4 == 0}" class="page">
    <div class="row">
        <div th:if="${lines.size() > iterStat.index}" class="card" th:text="${lines.get(iterStat.index)}">
        </div>
        <div th:if="${lines.size() > iterStat.index + 1}" class="card" th:text="${lines.get(iterStat.index + 1)}">
        </div>
    </div>
    <div class="row">
        <div th:if="${lines.size() > iterStat.index + 2}" class="card" th:text="${lines.get(iterStat.index + 2)}">
        </div>
        <div th:if="${lines.size() > iterStat.index + 3}" class="card" th:text="${lines.get(iterStat.index + 3)}">
        </div>
    </div>
</div>
<script src="/scripts/scripts.js"></script>
</body>
</html>
